<h1>Politicians</h1>

<ul>
  <% @politicians.each do |politician| %>
    <li>
      <%= link_to politician.name, politician %>
      <%= image_tag politician.photo_url %>
    </li>
    <% end %>
  </ul>
